@model Out_of_Office.Application.Approval_Request.ApprovalRequestDto

@{
    ViewData["Title"] = "Details";
}

<h2>Approval Request Details</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.ID</dd>
        <dt class="col-sm-2">Employee</dt>
        <dd class="col-sm-10">@Model.EmployeeFullName</dd>
        <dt class="col-sm-2">Approver</dt>
        <dd class="col-sm-10">@Model.ApproverFullName</dd>
        <dt class="col-sm-2">Leave Request Number</dt>
        <dd class="col-sm-10">@Model.LeaveRequestID</dd>
        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Model.Status</dd>
        @if (Model.LeaveRequestSubmittedAt != null)
        {
        <dt class="col-sm-2">Received At</dt>
        <dd class="col-sm-10">@Model.LeaveRequestSubmittedAt.Value.ToString("dd MMM yyyy HH:mm")</dd>
        }

        <dt class="col-sm-2">Status Changed At</dt>
        <dd class="col-sm-10">
            @(Model.StatusChangedAt.HasValue
                ? Model.StatusChangedAt.Value.ToString("yyyy-MM-dd HH:mm")
                : "Not yet changed")
        </dd>
        <dt class="col-sm-2">Leave Comment</dt>
        <dd class="col-sm-10">@Model.LeaveRequestComment</dd>
        <dt class="col-sm-2">Decision Comment</dt>
        <dd class="col-sm-10">@Model.DecisionComment</dd>
        <dt class="col-sm-2">Leave Start</dt>
        <dd class="col-sm-10">@Model.StartDate.ToString("yyyy-MM-dd")</dd>

        <dt class="col-sm-2">Leave End</dt>
        <dd class="col-sm-10">@Model.EndDate.ToString("yyyy-MM-dd")</dd>      

    </dl>
</div>

<p>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</p>
